.post {
  margin-bottom: 3.33333em;
}

.post-header {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.post-footer {
  &:before {
    content: "";
    display: block;
    border-top: 3px dotted #888;
    margin-bottom: 1em;
    width: 50%;
    height: 3px;
  }

  ul {
    list-style-type: none;
  }
}

.post-content {
  img {
    width: 100%;
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: _palette(secondary);
    font-weight: bold;
    line-height: 2;
    margin: 1.66667rem 0 0.83333rem;
    text-rendering: optimizeLegibility;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin: 0 0 1.66667em;
    font-size: 20px;
  }
}

.post-title {
  margin-bottom: 0.66667rem;

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(primary);
    }
  }
}

.post-meta {
  color: _palette(meta);
  font-size: 0.88889rem;
  margin-top: 2em;
}

.post-meta > * {
  margin: 0 0.5em;
}

.post-meta-icon {
  vertical-align: -1px;
  margin-right: 0.3em;
}

.post-thumbnail {
  border: 0;
  display: block;
  margin-bottom: 2.5em;

  img {
    width: 100%;
  }
}

.post-subtitle {
  color: _palette(secondary);
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.read-more-link {
  color: _palette(secondary);
  display: inline-block;
  font-size: 0.88889rem;
  font-weight: bold;
  padding: 0.3em 24px 0.3em 0;
  position: relative;

  .icon-arrow-right {
    left: auto;
    margin-left: 0;
    margin-right: 2px;
    right: 0;
  }
}

.post-full:not(.page) .post-header {
  text-align: center;
}

.post-feed {
  .post {
    border-bottom: 1px dashed _palette(border);
    padding-bottom: 1.66667em;

    &:last-child {
      border: 0;
      padding-bottom: 0;
    }
  }

  .post-header,
  .post-thumbnail {
    margin-bottom: 1.66667em;
  }

  .post-title {
    font-size: 1.66667rem;
  }

  .post-meta {
    font-size: 14px;
  }
}

.post-content {
  margin: 1em 0;
}

.post-thumbnail img,
.post-content img,
.block img {
  border-radius: 3px;
}

/* about me section */
section.about-me {
  margin-top: 5rem;

  .inner-picture {
    max-width: 100%;
    max-height: 100%;
    width: $profile-pic-size;
    height: $profile-pic-size;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}
/* end about me */
/* latest works */
section.latest-works {
  background-color: $custom-gray;
}

/* end latest works */

/* contat section */
section.contact {
  background: #d6e6f2 url("../images/back/bg6.png") no-repeat center center;

  .inner-contact {
    h3 {
      font-size: 35px;
      font-weight: bold;
    }
  }
}
/* end contact section */

/* contact form */
.contact-form .form-control {
  background: #e8e8e8;
  color: #40615c;
}

.contact-form label {
  color: #6f6f6f;
  padding-left: 2px;
}

.contact-form .form-control::placeholder {
  color: #b0b1b1;
}
/* end contact form */

/* carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #666;
  border-radius: 50%;
  background-size: 13px;
}

.carousel .gatsby-image-wrapper,
.carousel .gatsby-image-wrapper > div,
.carousel .gatsby-image-wrapper img {
  max-height: 500px;
}

.carousel .gatsby-image-wrapper img {
  object-position: 0 0 !important;
}

/* end carousel */

/* clip board */

.clip-board {

  box-shadow: none !important;
  padding:0;
  background:#efefef;
  color:#666;
}

.link-box * {
  outline: none;
}

.clip-board-icon {
  display:inline-block;
  padding:10px;
  background: #555;
  color: #f1f2f3;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* end clip board */
