/* responsive breakpoints */
@include media-breakpoint-down(sm) {

  .navbar-nav {

    .nav-link {

      font-size:16px;
    }
  }

  .caption {
    width: 100%;
  }
  .masonry-items {
    column-count: 1;
  }

  body.modal-open {
    height: 100%;
  }

  .navbar-expand .navbar-nav {
    flex-direction: column;
  }

  #main-navbar-toggler {
    bottom: 1em;
    left: 1.2em;
  }

  #contentNavbar {
    bottom: 3.5em;
    left: 0.6em;
  }

  .modal {
    padding-left: 0;
  }
}

@include media-breakpoint-down(md) {
  .post {
    h1 {
      font-size: 2rem;
    }

    .post-subtitle {
      font-size: 1rem;
    }
  }

  .text-primary-title,
  .text-primary-title a {
    font-size: 34px;
  }

  .caption {
    font-size: 18px;
  }

  .masonry-grid {
    .list-group .list-group-item {
      font-size: 10px;
    }

    .item {
      .item-wrapper {
        h5 {
          font-size: 1.1em;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }

  .main-head-container {
    background: none !important;
  }

  .masonry-items {
    column-count: 2;
  }

  section.contact .inner-contact {
    h3 {
      font-size: 32px;
    }

    button {
      font-size: 22px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .main-head-container {
    background-position-x: -70px !important;
  }
}

@include media-breakpoint-up(md) {
  .masonry-grid {
    .item-wrapper:hover {
      background-color: rgba(100, 100, 100, 0.8);
      opacity: 1;

      .item-inner {
        transform: translateY(20%);
      }
    }
  }
}
