/* in the name of allah */
$blue-primary: #044ff1;
$profile-pic-size: 200px;
$custom-gray: #f9f9fe;
$blog-card-border-radius: 8px;

@mixin animation-ease-out {
  -moz-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

/* public */
html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}



a {
  text-decoration: none !important;
}

p {
  line-height: 39px;
}

img {
  margin: 0;
  max-width: 100%;
}

div,
section,
p {
  margin: 0;
  padding: 0;
}
/* end public */

.modal {
  padding-left:19px;
}

.card-img-top > div {
  height: 300px;
}

.radius-0 {
  border-radius: 0 !important;
}

.blog-card {
  margin: 0 1em;
  border: none;
  box-shadow: 0px 3px 20px 2px #efefef;
}

.card-title {
  line-height: 38px;
  color: #333;
  text-transform: capitalize;
}

.card-text {
  color: #6f6f6f;
}

.card img {
  height: 100%;
}

.blog-card:hover {
  .card-title {
    color: $blue-primary;
  }
}

.blog-card,
.blog-card img {
  border-top-left-radius: $blog-card-border-radius !important;
  border-top-right-radius: $blog-card-border-radius !important;
}

.nav-item {
  margin: 0 !important;
}

.caption {
  width: 600px;
}

.text-primary-title,
.text-primary-title a {
  color: $cyan;
  font-size: 34px;
}

.text-primary-title {
  margin-bottom: 1em;
}

.grid-item {
  width: 300px;
  height: 150px;
}

/* masonry items */
.masonry-items {
  column-count: 3;

  > .item {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: center;

    .item-wrapper,
    .item-wrapper > .item-inner {
      @include animation-ease-out;
    }

    .item-wrapper {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(100, 100, 100, 0);
      color: #f7f8f9;
      opacity: 0;

      .item-inner {
        transform: translateY(70%);
      }
    }

    .item-wrapper:hover {
      background-color: rgba(100, 100, 100, 0.8);
      opacity: 1;

      .item-inner {
        transform: translateY(50%);
      }
    }
  }

  > .item-box {
    .item-wrapper {
      position: relative;
      opacity: 1;
      .item-inner {
        transform: none;
      }
    }

    .item-wrapper:hover {
      background: rgba(100, 100, 100, 0);

      .item-inner {
        transform: none;
      }
    }

    h5 {
      color: #555;
    }

    p {
      color: #5f5f5f;
      font-size: 16px;
    }

    background: #f1f2f3;
    border-radius: 4px;
    padding: 10px;
  }

  > .item-box .item-wrapper:hover {
    .item-title,
    h5 {
      color: $blue-primary;
    }
  }
}

/* end masonry items */

/* main head section */
section.main-head {
  position: relative;
  /* background-image: linear-gradient(87deg, #244ff1, #6f32e1); */
  background: #d6e6f2;
  height: 600px;

  .main-head-container {
    // background: transparent url("../pictures/me.png") no-repeat bottom left;
    height: 600px;
  }
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .title {
      color: #555;
    }

    h3 {
      font-size: 48px;
      margin: 0;
      margin-top: 8px;
      margin-bottom: 8px;
      color: $blue-primary;
    }

    p {
      font-size: 24px;
      text-transform: capitalize;
    }
  }
}
/* end main head section */

/* about me section */
section.about-me {
  margin-top: 5rem;

  .inner-picture {
    max-width: 100%;
    max-height: 100%;
    width: $profile-pic-size;
    height: $profile-pic-size;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}
/* end about me */
/* latest works */
section.latest-works {
  background-color: $custom-gray;
}

/* end latest works */

/* contat section */
section.contact {
  background: #d6e6f2 url("../images/back/bg6.png") no-repeat center center;

  .inner-contact {
    h3 {
      font-size: 35px;
      font-weight: bold;
    }
  }
}
/* end contact section */

/* contact form */
.contact-form .form-control {
  background:#e8e8e8;
  color:#40615c;
}

.contact-form label {
  color:#6f6f6f;
  padding-left:2px;
}

.contact-form .form-control::placeholder {
  color:#b0b1b1;
}
/* end contact form */

/* footer */
footer.main-footer {
  background-color: $custom-gray;
}
/* end footer */

/* responsive breakpoints */
@include media-breakpoint-down(sm) {
  .caption {
    width: 100%;
  }
  .masonry-items {
    column-count: 1;
  }

  body.modal-open {
    height: 100%;
  }
}

@include media-breakpoint-down(md) {
  .main-head-container {
    background: none !important;
  }

  .masonry-items {
    column-count: 2;
  }
}

@include media-breakpoint-down(lg) {
  .main-head-container {
    background-position-x: -70px !important;
  }
}
