/* in the name of allah */

$profile-picc: 200px;
$blog-card-border-radius:8px;

$mysize: (
  profile-picc: 200px,
  blog-card-border-radius: 8px,
);

$palette: (
  primary: #044ff1,
  secondary: darken(#666666, 27%),
  meta: lighten(#666666, 23%),
  border: lighten(#666666, 38%),
  bg: lighten(#666666, 55%),
  custom-gray: #f9f9fe,
  accent: #ffd300,
  accent-blue: #1fa2ff,
  accent-green: #24b466,
  accent-red: #f45a4e,
);

@mixin animate($type) {
  -moz-transition: all 300ms $type;
  -webkit-transition: all 300ms $type;
  -o-transition: all 300ms $type;
  -ms-transition: all 300ms $type;
  transition: all 300ms $type;
}

@mixin animation-ease-out {
  @include animate(ease-out);
}
@mixin animation-linear {
  @include animate(linear);
}

// bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
// local
@import "./imports/functions";
@import "./imports/general";
@import "./imports/animations";
@import "./imports/icons";
@import "./imports/header";
@import "./imports/content";
@import "./imports/footer";
@import "./imports/darkmode";
@import "./imports/responsive";
